body {
    background-image: url('https://images.pexels.com/photos/1420440/pexels-photo-1420440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ;
}

#container {
    width: 35%;
    min-width: 355px;
    padding: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    position: relative;
}

#container>h1 {
    color: white;
    font-family: "Lobster", sans-serif;
}

#container>a {
    justify-self: right;
    align-self: self-end;
}

p,
a {
    color: white;
    font-family: "Big Shoulders", sans-serif;
}

a:hover {
    text-decoration: none;
}

#password {
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px white solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#password>input {
    border: none;
    width: 100%;
}

input {
    font-family: "Big Shoulders", sans-serif;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 20px 10% 20px 20px;
    caret-color: transparent;
    outline-color: transparent;
    outline-offset: 3px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.454);
}

i {
    color: white;
    position: absolute;
    right: 3%;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
}

button {
    padding: 10px 20px;
    border: 1px white solid;
    color: white;
    border-radius: 50px;
    font-family: "Big Shoulders", sans-serif;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f3a621;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #036bbf;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mode {
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 7px;
}

#salutation{
    position: absolute;
    top: 20px;
    left: 30px;
    font-family: "Ms Madi", cursive;
}
#salutation>h1{
    font-size: 45px;
}
#salutation>p{
    font-size: 20px;
    color: black;
    position: relative;
    top: -20px;
    left: 45%;
}
button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.mode p{
    cursor: pointer;
}
