*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('https://cdn.pixabay.com/animation/2023/06/15/04/08/04-08-10-604_512.gif');
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
img{
    width: 200px;

}