h1{
    text-align: center;
    color: red;
    text-shadow: 1px 1px 7px rgba(255, 0, 0, 0.744),-1px -1px 7px rgb(255, 0, 0,0.744);
    font-family: fantasy;
    font-weight: 100;
}
p{
    text-align: justify;
    text-indent: 30px;
    text-transform: capitalize;
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: rgb(3,5,99);
    background: linear-gradient(90deg, rgba(3,5,99,1) 0%, rgba(68,17,105,1) 50%, rgba(101,14,20,1) 100%);
}
#p{
    height: 100px;
    width: 200px;
    margin: auto;
    background: rgb(86,18,135);
    background: linear-gradient(45deg, rgba(86,18,135,1) 42%, rgba(2,255,1,1) 100%);
    box-shadow: 12px -12px 20px 0px rgba(2,255,1,1), -12px 12px 20px 0px rgba(86,18,135,1);
    border-radius: 4px;
}